version: '3.8'

services:
  backend:
    image: gestion_employes_springboot
    build:
      context: ./gestionEmployees  # Répertoire du backend (Spring Boot)
      dockerfile: gestion-employes/Dockerfile
    ports:
      - "8086:8086"  # Exposer le port 8086 pour Spring Boot
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/gestion_employes  # Nom de la base de données
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_APPLICATION_NAME: gestion-employes
    depends_on:
      - mysql
    networks:
      - backend_frontend_network

  frontend:
    image: gestion_employees_angular
    build:
      context: ./gestion-deEmployee  # Répertoire du frontend (Angular)
      dockerfile: Dockerfile
    ports:
      - "4300:4300"  # Exposer le port 4200 pour Angular
    depends_on:
      - backend
    networks:
      - backend_frontend_network

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestion_employes  # Nom de la base de données
    ports:
      - "3306:3306"  # Exposer le port 3306 pour MySQL
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend_frontend_network

volumes:
  mysql_data:
networks:
  backend_frontend_network:
    driver: bridge 
